header {
  width: 100%;
  min-height: 100vh;
  background-position: bottom right;
  background-size: cover;
  display: flex;
  place-items: center;
  padding: 0 4rem;
  .text-holder {
    flex: 0 0 58.333333%;
    color: #fff;
    .text {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h1 {
        font-weight: 800;
        font-size: 3.2rem;
        text-transform: capitalize;
        color: #fff;
      }
      p {
        font-size: 16px;
      }
      .play-holder {
        display: flex;
        place-items: center;
        gap: 20px;
        p {
          text-transform: uppercase;
          font-weight: 700;
        }
        .pay-btn-holder {
          position: relative;
          .play-btn {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--fbc-white);
            display: flex;
            justify-content: center;

            align-items: center;
            svg {
              color: var(--fbc-secondary-text);
              font-size: 1rem;
              z-index: 2;
            }
          }
          &::after,
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: var(--fbc-white);
            left: 0;
            top: 0;
            transform: scale(0);
          }
          &::after {
            animation: pulse 2s 1s ease-out infinite;
          }
          &::before {
            animation: pulse 2s ease-out infinite;
          }
          @keyframes pulse {
            0% {
              transform: scale(0);
            }
            100% {
              transform: scale(2);
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .img-holder {
    flex: 0 0 41.666667%;
    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 1050px) {
    flex-direction: column;

    padding: 10rem 2rem;
    .text-holder,
    .img-holder {
      flex: 1;
    }
    .text-holder {
      .text {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-weight: 800;
          font-size: 1.5rem;
          text-transform: capitalize;
          color: #fff;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 10rem;
    padding: 10rem 2rem;
    .text-holder,
    .img-holder {
      flex: 1;
    }
    .text-holder {
      .text {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-weight: 800;
          font-size: 1.5rem;
          text-transform: capitalize;
          color: #fff;
        }
      }
      .play-holder {
        p {
          display: none;
        }
      }
    }
  }
}
